/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Variable Declaration
$base-color: #11CFA4;
$hover-base-color: #0be0ae;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to top,
            #F5F8FF 0%,
            #F5F8FF 40%,
            $hover-base-color 100%,
            $hover-base-color 100%);
}

