<app-create-faculty-subjects></app-create-faculty-subjects>
<div class="card">
    <p-table #dt2 [value]="facultySubjects" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
               <h2 style="text-align:center;">
                    Faculty Subjects List
               </h2>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:15%">Class Name</th>
                <th style="width:22%">Faculty Name</th>
                <th style="width:22%">Subject</th>
                <th style="width:15%">IS Elective ?</th>
                <th>
                    Actions
                </th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="className"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="faculty_name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="subject"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="isElective"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-facultySubjectArray>
            <tr>
                <td>
                    {{ facultySubjectArray.className }}
                </td>
                <td>
                    {{ facultySubjectArray.faculty_name }}
                </td>
                <td>
                    {{ facultySubjectArray.subject }}
                </td>
                <td>
                    {{ facultySubjectArray.isElective }}
                </td>
                <td>
                    <p-button class="button-css1"  label="Update"
                        (click)="updateEmployee(facultySubjectArray.id)" severity="success"></p-button>
                    <p-button class="button-css1" label="Delete" 
                        (click)="deleteEmployee(facultySubjectArray.id)" severity="danger"></p-button>
                    <p-button class="button-css1" label="View" 
                        (click)="employeeDetails(facultySubjectArray.id)" severity="info"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No results found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>