<div class="content">
    <app-create-faculty-subjects></app-create-faculty-subjects>
    <div class="card">
        <p-table #dt2 [value]="facultySubjects" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <h2 style="text-align:center;">
                        Faculty Subjects List
                    </h2>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:14%">Class Name</th>
                    <th style="width:23%">Faculty Name</th>
                    <th style="width:27%">Subject</th>
                    <th style="width:14%">IS Elective</th>
                    <th style="text-align: center;">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="className"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="faculty_name"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="subject"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="isElective"></p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-facultySubjectArray>
                <tr>
                    <td>
                        {{ facultySubjectArray.className }}
                    </td>
                    <td>
                        {{ facultySubjectArray.faculty_name }}
                    </td>
                    <td>
                        {{ facultySubjectArray.subject }}
                    </td>
                    <td style="padding-left: 43px;">
                        {{ facultySubjectArray.isElective }}
                    </td>
                    <td style="display: flex;">
                        <div class="img-card" (click)="employeeDetails(facultySubjectArray.id)" pTooltip="View" tooltipPosition="top">
                            <img src="../../../assets/images/view.png" alt="">
                        </div>
                        <div class="img-card" (click)="updateEmployee(facultySubjectArray.id)" pTooltip="Update" tooltipPosition="top">
                            <img src="../../../assets/images/update.png" alt="">
                        </div>
                        <div class="img-card" (click)="deleteEmployee(facultySubjectArray.id)" pTooltip="Delete" tooltipPosition="top">
                            <img src="../../../assets/images/delete.png" alt="">
                        </div>
                        <!-- <p-button class="button-css1" label="Update" (click)="updateEmployee(facultySubjectArray.id)"
                            severity="success"></p-button>
                        <p-button class="button-css1" label="Delete" (click)="deleteEmployee(facultySubjectArray.id)"
                            severity="danger"></p-button>
                        <p-button class="button-css1" label="View" (click)="employeeDetails(facultySubjectArray.id)"
                            severity="info"></p-button> -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No results found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>