$green: #01EAB4;
$black: #44475B;
$hover: #00D09C;

/* loading.component.css */
.containAll {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .containLoader {
        position: relative;
        height: 60px;
        width: 60px;
        margin: auto;
        margin-top: 295px;

        .circleGroup {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        @for $i from 1 through 8 {
            .circle-#{$i} {
                border: 7px solid $green;
                // border: 10px solid black;
                border-radius: 50%;
                box-sizing: border-box;
                border-right: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid transparent;
                -webkit-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                -moz-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                -o-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;

                -webkit-animation-delay: 30ms * $i;
                -moz-animation-delay: 30ms * $i;
                -o-animation-delay: 30ms * $i;
                animation-delay: 30ms * $i;
            }
        }

        .innerText {
            position: absolute;
            // font-family: $quick;
            color: white;
            bottom: -40px;
            animation: flash 1.2s ease-in-out infinite;
            pointer-events: none;
        }
    }
}

@keyframes rotate {
    50% {
        border: 1px solid $green;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    100% {
        transform: rotatez(360deg);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}