<div id="overlay" (click)="service.showDialog=false"></div>

<div class="container">
  <h1>Log In</h1>
  <form [formGroup]="loginForm">
    <div class="form">
      <div class="formbold-mb-6 mandatory">
        <label for="ucid" class="formbold-form-label">Username <span>*</span></label>
        <input type="text" name="username" id="username" class="formbold-form-input ucid" formControlName="username"
          (input)="clearError()" #userInput />
      </div>
      <div class="error-msg"
        *ngIf="(loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched) || usernameError">
        Please enter correct username
      </div>

      <div class="formbold-mb-6 mandatory" style="margin-bottom: 30px;">
        <label for="ucid" class="formbold-form-label">Password <span>*</span></label>
        <input type="password" name="password" id="password" class="formbold-form-input ucid" formControlName="password"
          (input)="clearError()" #passInput />
      </div>
      <div class="error-msg"
        *ngIf="(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) || passwordError">
        Please enter correct password
      </div>

      <div class="link">
        <a href="#" class="formbold-form-label">Forgot Password?</a>
      </div>

      <div class="button">
        <button class="btn btn-next formbold-btn" (click)="onSubmit()">Log In</button>
      </div>
    </div>
  </form>
</div>