// .home-page {
//     height: 100vh;
//     padding-top: 50px;
// }

$green: #01EAB4;
$black: #44475B;
$hover: #00D09C;

.hero {
    overflow: hidden;
    position: relative;
    margin: 0px 9%;
    padding-top: 13px;
}

.logo {
    height: 60px;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: $black;
    font-weight: 400;
    &:hover{
        color: $hover;
        transition: all 0.2s ease-in-out;
    }
}

.nav-margin {
    color: #11CFA4;
}

.login .formbold-btn {
    margin: 0;
    padding: 11px 25px;
    margin-left: 15px;
    width: auto;
}

// .btn-css {
//     //display: inline-block;
//     text-decoration: none;
//     padding: 14px 40px;
//     //color: #64f3d1;
//     background-image: linear-gradient(45deg, #0fb18b, #64f3d1);
//     font-size: 14px;
//     border-radius: 30px;
//     border-top-right-radius: 0;
//     color: black;
//     transition: 0.5s;
// }

.heading {
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
}

.slogan {
    margin-top: -20px !important;
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
}

.ul-css {
    display: flex;
    align-items: center;
}

.content {
    // margin-top: 10%;
    max-width: 600px;
    margin-left: 83px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
}

.content div {
    display: flex;

}

.main-content {
    height: 567px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.class-btn {
    margin-top: -27px;
    a {
        margin-left: 53px;
        text-decoration: none;
        &.formbold-btn {
            padding: 11px 25px;
        }
    }
}

.content .btn-css {
    font-size: 16px;
    width: 200px;
    // display: grid;
    text-align: center;
    margin-right: 50px;
}

.btn-css:hover {
    border-top-right-radius: 30px;
}

.feature-img {
    width: 493px;
    position: absolute;
    bottom: 43px;
    right: 8%;
}