<app-dialog-component *ngIf="service.showDialog"></app-dialog-component>

<div class="hero">
  <nav>
    <img src="../../assets/images/logo1.png" alt="logo" class="logo" />
    <div class="ul-css">
      <ul class="nav-margin">
        <li><a href="">Contact Us</a></li>
        <li><a href="">How It Works</a></li>
        <li><a href="">About us</a></li>
      </ul>
      <div class="login">
        <button class="formbold-btn" (click)="service.showDialog = true">
          Login
        </button>
      </div>
    </div>
  </nav>
  <div class="main-content">
    <div class="content">
      <p class="heading">Your Feedback Matters To Us</p>
      <p class="slogan">
        Unlocking the Power of Student Feedback: <br />
        SpireMetrics - Where Insights Transform Education.
      </p>
      <div class="class-btn">
        <a style="margin-left: 83px;" href="#" [routerLink]="['/teacher-feedback', fy]" class="formbold-btn"
          >FYMCA</a
        ><br />
        <a href="#" [routerLink]="['/teacher-feedback', sy]" class="formbold-btn"
          >SYMCA</a
        >
      </div>
    </div>
    <img src="../../assets/images/hero.jpg" alt="main-img" class="feature-img" />
  </div>
</div>
