<div class="container">
  <h1>Add Faculty Subject</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="facultySubjectsForm">
    <div class="form">
      <div class="row">
        <div class="formbold-mb-6 mandatory addfaculty">
          <label class="formbold-form-label">Class Name </label><br>
          <p-dropdown formControlName="className" [options]="options1" placeholder="Select One" [editable]="false"
            optionLabel="name"></p-dropdown>
        </div>
        <div class="formbold-mb-6 mandatory addfaculty" style="margin-bottom: 20px;">
          <label class="formbold-form-label">Faculty Name</label><br>
          <p-dropdown [options]="facultyNamesList" [(ngModel)]="customFacultyName"
          (ngModelChange)="handleCustomFacultyNameChange($event)" formControlName="facultyName" placeholder="Select a Faculty Name"
            [editable]="true" optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="formbold-mb-6 mandatory addfaculty" style="margin-bottom: 20px;">
          <label class="formbold-form-label">Subject Name</label><br>
          <input type="text" class="formbold-form-input ucid" formControlName="subject" #passInput />
        </div>
        <div class="formbold-mb-6 mandatory addfaculty" style="margin-bottom: 20px;">
          <label class="formbold-form-label">Is Elective?</label><br>
          <p-dropdown [options]="options" placeholder="Select One" formControlName="isElective"
            optionLabel="name"></p-dropdown>
        </div>
      </div>      
      <div class="button">
        <button class="btn btn-next formbold-btn">Add Faculty</button>
      </div>
    </div>
  </form>
</div>