// Variable Declaration
$base-color: #11CFA4;
$hover-base-color: #0be0ae;

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    height: auto;
    // opacity: 0;

    .formbold-form-wrapper {
        margin: 0 auto;
        max-width: 1350px;
        width: 100%;
        background: white;
        padding: 40px 80px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .heading span {
            color: #536387;
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            font-weight: 500;
        }

        .row {
            display: flex;
            border-top: 1px solid #dde3ec;

            .error-msg {
                color: red;
                margin-bottom: 15px;
                margin-top: -40px;
                // margin-left: 15px;
                font-size: 13px;
                font-weight: 500;

                &.ucid {
                    margin-top: -20px;
                    margin-left: 105px;
                }
            }

            .column1 {
                width: 30%;
                border-right: 1px solid #dde3ec;
                padding: 45px 25px 0 0;
            }

            .column2 {
                width: 70%;
                padding-left: 45px;
                padding-top: 45px;

                .ucid-mandatory {
                    position: relative;

                    span {
                        position: absolute;
                        right: 55px;
                        bottom: 10px;
                        color: red;
                        font-size: 12px;
                    }
                }

                .text-mandatory {
                    position: relative;

                    span {
                        position: absolute;
                        top: -2px;
                        right: 291px;
                        color: red;
                        font-size: 12px;
                    }
                }

                .text-box {
                    margin-top: 0;
                }
            }
        }
    }

    .formbold-form-input {
        width: 100%;
        padding: 13px 22px;
        border-radius: 5px;
        border: 1px solid #dde3ec;
        background: #ffffff;
        font-weight: 500;
        font-size: 16px;
        color: #536387;
        outline: none;
        resize: none;
        margin-top: 10px;

        &.ucid {
            margin-top: 0;
        }
    }

    .formbold-form-input:focus {
        border-color: #11CFA4;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    textarea {
        font-family: 'Inter';
        font-weight: 400 !important;
    }

    .formbold-form-label {
        color: #07074d;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: block;
        // margin-bottom: 20px;
    }

    .formbold-form-label span {
        color: #536387;
        font-size: 12px;
        line-height: 18px;
        display: inline-block;
    }

    .formbold-mb-3 {
        margin-bottom: 15px;
    }

    .formbold-mb-6 {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mandatory {
        position: relative;

        span {
            position: absolute;
            color: red;
            margin-left: 2px;
            top: 9px;
        }
    }
}

.button {
    display: flex;
    justify-content: space-between;

    .formbold-btn {
        text-align: center;
        width: 18%;
        font-size: 16px;
        border-radius: 3px;
        padding: 14px 25px;
        border: none;
        font-weight: 500;
        background-color: $base-color;
        color: white;
        cursor: pointer;
        margin-top: 25px;
        transition: 0.3s ease-in-out;
        float: right;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &:hover {
            background-color: $hover-base-color;
        }

        object {
            width: 23px;
        }
    }
}

// ---------------- Star Rating ---------------
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    display: none;
}

.rate:not(:checked)>label {
    float: right;
    font-size: 40px;
    color: #eaebed;
}

.rate:not(:checked)>label:before {
    content: '★';

}

.rate>input:checked~label {
    color: #ffc700;
    text-shadow: 0 0 5px #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #ffc700;
    text-shadow: 0 0 5px #ffc700;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #ffc700;
    text-shadow: 0 0 5px #ffc700;
}

/* ----------------- Progressbar --------------- */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    // z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}

// ---------------- Form ---------------
.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

/*progressbar*/
#progressbar {
    overflow: hidden;
    position: relative;
}

#progressbar li {
    list-style-type: none;
    font-size: 16px;
    width: 93%;
    margin-bottom: 40px;
    border: 1px solid #dde3ec;
    border-radius: 5px;
    padding: 20px 0 20px 62px;
    color: #07074d;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .facultyName {
        margin-top: 5px;

        span {
            font-size: 13px;
            color: #536387;
            font-weight: 500;
        }
    }


    &.active {
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    // &.list2:after {
    //     top: 28px;
    // }

    // &.list3:after {
    //     top: 128px;
    // }

    // &.list4:after {
    //     top: 228px;
    // }

    // &.list5:after {
    //     top: 328px;
    // }
}

#progressbar li span:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    z-index: 2;
    left: 25px;
    position: absolute;
    margin-top: -11px;
}

/*progressbar connectors*/
#progressbar li span:after {
    content: '';
    width: 3px;
    height: 120px;
    background: #dde3ec;
    position: absolute;
    left: 31px;
    // top: 33px;
    z-index: 1;
}

#progressbar li span.lastItem:after {
    /*connector not needed before the first step*/
    content: none;
}

// #progressbar li span:first-of-type:after {
//     display: none;
// }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li span.active:before,
#progressbar li span.active:after {
    background: $base-color;
    color: white;
}

#progressbar li span.inactive:before,
#progressbar li span.firstItem:after {
    background: #dde3ec;
    color: #000;
}

/* loading.component.css */
.containAll {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .containLoader {
        position: relative;
        height: 60px;
        width: 60px;
        margin: auto;
        margin-top: 295px;

        .circleGroup {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        @for $i from 1 through 8 {
            .circle-#{$i} {
                border: 7px solid rgb(0, 255, 153);
                // border: 10px solid black;
                border-radius: 50%;
                box-sizing: border-box;
                border-right: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid transparent;
                -webkit-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                -moz-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                -o-animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;
                animation: rotate 1.2s cubic-bezier(0, .58, 1, .30) infinite;

                -webkit-animation-delay: 30ms * $i;
                -moz-animation-delay: 30ms * $i;
                -o-animation-delay: 30ms * $i;
                animation-delay: 30ms * $i;
            }
        }

        .innerText {
            position: absolute;
            // font-family: $quick;
            color: white;
            bottom: -40px;
            animation: flash 1.2s ease-in-out infinite;
            pointer-events: none;
        }
    }
}

@keyframes rotate {
    50% {
        border: 1px solid rgb(0, 255, 153);
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    100% {
        transform: rotatez(360deg);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}